.base {
    background-color: whitesmoke;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    height: auto;
    padding: 5px;
  }
  
  .board {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: max-content auto;
  }
  
  .button {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
  }
  
  .board-lists {
    display: grid;
    grid-auto-columns: 305px;
    grid-auto-flow: column;
    grid-gap: 10px;
    
  }
  
  .board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
  }
  
  .list-title {
    font-weight: bold;
  }
  
  .jobcard-toApply{
    border-top: 9px solid #f79f07;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 15px;
    cursor: pointer;
  }

  .jobcard-applied {
    border-top: 9px solid #05e7f7;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 15px;
    cursor: pointer;
  }

  .jobcard-interview {
    border-top: 9px solid #eca6f5;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 15px;
    cursor: pointer;
  }

  .jobcard-offer {
    border-top: 9px solid #39D1B4;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 15px;
    cursor: pointer;
  }

  .jobcard-title {
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color: rgb(62, 113, 128);
    margin: 0;
  }

  .jobcard-content {
    font-weight: 400;
    font-size: small;
    font-family: sans-serif;
    color: rgb(98, 99, 96);
    margin: 0;
  }
  
  .add-card {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: fixed;
    left: 200px;
    right: 200px;
    top: 90px;
    bottom: 90px;
    margin: auto;
    background-color: whitesmoke
  }