.putBottom{
    position: absolute;
    top: 85%;
    right: 30%;
    left: 30%;
    bottom: 10%;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    font-size: 30;
}

.topMargin {
    margin-top: 5%;
}

.picturePosition {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}
