.bgimage {
    background-image: url(./usernameForm.jpg);
    background-size: cover;
    color: #fff;
}

.login {
    margin-top: 10px;
}

.login .card {
    background: rgba(0, 0, 0, .6);
}

.login label {
    font-size: 16px;
    color: #ccc;
}

.login input {
    font-size: 22px !important;
}

.login button:hover {
    padding: 0px 40px;
}